.mybtn {
            margin-top:10%;
            margin-left: 18%;
            display: inline !important;
            width: 70%;
        }
        
.avatar {
  font-size: 1rem;
  display: inline-flex;
  width: 50px;
  height: 50px;
  color: #fff;
  border-radius: 50%;
  background-color: #adb5bd;
  align-items: center;
  justify-content: center;
}

.avatar-img {
    display: flex !important;
    outline:var();
    -o-object-fit: cover;
object-fit: cover;
  width: 100%;
  border-radius: 80%;
}

.avatar-sm {
  font-size: .875rem;
  width: 100px;
  height: 100px;
}

/*.gb_Da{
    -webkit-background-size:50px 50px;
    background-size:50px 50px;
    border:0;
    -webkit-border-radius:50%;
    border-radius:50%;
    display:block;
    margin:0;
    position:relative;
    height:50px;
    width:50px;
    z-index:0;
}*/