/* 
    Created on : 18 May, 2021, 8:25:42 PM
    Author     : SHUBHAM MANMOHAN
*/

/*#mysetquestionsmodal
{
    height: 80% !important;
    width: 90% !important;
}*/
/* .modal-dialog {
            max-width: 90%;
             height: calc(100% - 3rem); 
        }
        
        .modal-content {
            height: 500px;
        }
        
        div textarea {
             margin-left: 300px;
            border: 2px red dotted; 
            resize: none;
            overflow: auto;
        }*/