<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>home.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>FacultyControllerServlet</servlet-name>
        <servlet-class>onlineexam.controller.FacultyControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentControllerServlet</servlet-name>
        <servlet-class>onlineexam.controller.StudentControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControllerServlet</servlet-name>
        <servlet-class>onlineexam.controller.LoginControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationControllerServlet</servlet-name>
        <servlet-class>onlineexam.controller.RegistrationControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutControllerServlet</servlet-name>
        <servlet-class>onlineexam.controller.LogoutControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveUserControllerServlet</servlet-name>
        <servlet-class>onlineexam.controller.RemoveUserControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamControllerServlet</servlet-name>
        <servlet-class>onlineexam.controller.ExamControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionsControllerServlet</servlet-name>
        <servlet-class>onlineexam.controller.QuestionsControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQuestionsControllerServlet</servlet-name>
        <servlet-class>onlineexam.controller.EditQuestionsControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserControllerServlet</servlet-name>
        <servlet-class>onlineexam.controller.UserControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerformanceControllerServlet</servlet-name>
        <servlet-class>onlineexam.controller.PerformanceControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FacultyControllerServlet</servlet-name>
        <url-pattern>/FacultyControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentControllerServlet</servlet-name>
        <url-pattern>/StudentControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControllerServlet</servlet-name>
        <url-pattern>/LoginControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationControllerServlet</servlet-name>
        <url-pattern>/RegistrationControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutControllerServlet</servlet-name>
        <url-pattern>/LogoutControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveUserControllerServlet</servlet-name>
        <url-pattern>/RemoveUserControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamControllerServlet</servlet-name>
        <url-pattern>/ExamControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionsControllerServlet</servlet-name>
        <url-pattern>/QuestionsControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQuestionsControllerServlet</servlet-name>
        <url-pattern>/EditQuestionsControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserControllerServlet</servlet-name>
        <url-pattern>/UserControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerformanceControllerServlet</servlet-name>
        <url-pattern>/PerformanceControllerServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
